force-app/main/default/flows/Aether_Refund_Process_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Send_Email_Action_1</name>
        <label>Copy 1 of Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>recordId.Contact.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have Update on Case - {!recordId.CaseNumber} | Subject - {!recordId.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You have Upsell Opportunity - {!UpSell_Opportunity.Name} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;for your Case - {!recordId.CaseNumber} | Subject - {!recordId.Subject}&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>recordId.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_LoopingSelected_Rows</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>recordId.Contact.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have Update on Case - {!recordId.CaseNumber} | Subject - {!recordId.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You&apos;re eligible for Replacement &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;for your Case - {!recordId.CaseNumber} | Subject - {!recordId.Subject}&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>recordId.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Sending_email</name>
        <label>Sending email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LoopingSelected_Rows</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>recordId.Contact.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have Update on Case - {!recordId.CaseNumber} | Subject - {!recordId.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;&lt;strong&gt;Repair Commenced&lt;/strong&gt; for your Case - {!recordId.CaseNumber} | Subject - {!recordId.Subject}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adding_Current_APSI_to_Collection</name>
        <label>Adding Current APSI to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AetherProductSupportItemsForRepair</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAetherProductSupportItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nulling_Current_APSI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Adding_Current_APSI_to_Collection</name>
        <label>Copy 1 of Adding Current APSI to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AetherProductSupportItemsForRepair</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAetherProductSupportItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Nulling_Current_APSI_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Initializing_Aether_Product_Support_Items</name>
        <label>Copy 1 of Initializing Aether Product Support Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_LoopingSelected_Rows.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSINameFormulaReplacement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Adding_Current_APSI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Nulling_Current_APSI_Record</name>
        <label>Copy 1 of Nulling Current APSI Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSINewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_LoopingSelected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initializing_Aether_Product_Support_Items</name>
        <label>Initializing Aether Product Support Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopingSelected_Rows.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSINameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Current_APSI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nulling_Current_APSI_Record</name>
        <label>Nulling Current APSI Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentAetherProductSupportItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSINewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopingSelected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RefundDetailsAssignment</name>
        <label>RefundDetailsAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId.Refund_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RRRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Refund_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RefundAmountCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentCase</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard</name>
        <choiceText>Hazard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hazard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund</name>
        <choiceText>Refund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repair</name>
        <choiceText>Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement</name>
        <choiceText>Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upsell</name>
        <choiceText>Upsell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wear_Tear</name>
        <choiceText>Wear &amp; Tear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wear &amp; Tear</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>RMA_Process_Decision_Node</name>
        <label>RMA Process Decision Node</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RepairOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RMA_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Repair</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_email</targetReference>
            </connector>
            <label>RepairOutCome</label>
        </rules>
        <rules>
            <name>ReplacementOutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RMA_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Replacement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action_1</targetReference>
            </connector>
            <label>ReplacementOutCome</label>
        </rules>
        <rules>
            <name>UpsellOutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RMA_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upsell</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpSell_Opportunity</targetReference>
            </connector>
            <label>UpsellOutCome</label>
        </rules>
        <rules>
            <name>RefundOutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RMA_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Refund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RefundDetailsAssignment</targetReference>
            </connector>
            <label>RefundOutCome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RefundReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RRR</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Refund_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>//&quot;RMA_Options For - &quot; + {!recordId.Asset.SerialNumber} + &quot;- &quot; +  TEXT(NOW())</description>
        <name>APSINameFormula</name>
        <dataType>String</dataType>
        <expression>{!recordId.CaseNumber} + &quot; - REPAIR - &quot; + {!LoopingSelected_Rows.PricebookEntry.Product2.Name} + &quot; - &quot; + {!LoopingSelected_Rows.LineItemNumber} + &quot; - &quot; +  TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>APSINameFormulaNumber</name>
        <dataType>Number</dataType>
        <expression>MOD(MILLISECOND(TIMEVALUE(NOW())), 1000) + 1000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>APSINameFormulaReplacement</name>
        <dataType>String</dataType>
        <expression>{!recordId.CaseNumber} + &quot; - REPLACEMENT-  &quot; + {!Copy_1_of_LoopingSelected_Rows.PricebookEntry.Product2.Name} + &quot; - &quot; + {!Copy_1_of_LoopingSelected_Rows.LineItemNumber} + &quot; - &quot; +  TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>OpptyName</name>
        <dataType>String</dataType>
        <expression>&quot;Upsell&quot; + {!recordId.Account.Name} + &quot;Case# &quot; +{!recordId.CaseNumber} +  TEXT( MONTH(TODAY()) + YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>RefundAmountCalculation</name>
        <dataType>Currency</dataType>
        <expression>IF({!RRRR} = &quot;Compliance Risk&quot;, {!SelectedCLIsTotalPrice} * 1.00,
IF({!RRRR} = &quot;Latent Manufacturing Defect&quot;, {!SelectedCLIsTotalPrice} * 0.90,
IF({!RRRR} = &quot;Operational Deadlock&quot;, {!SelectedCLIsTotalPrice} * 0.70,
IF({!RRRR} = &quot;Transit Integrity Breach&quot;, {!SelectedCLIsTotalPrice} * 0.40,
IF({!RRRR} = &quot;Pro-Rata Lifecycle Credit&quot;, {!SelectedCLIsTotalPrice} * 0.15, 
0)))))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RootAssetFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.Asset.RootAssetId}, LEN({!recordId.Asset.RootAssetId}) - 3)</expression>
    </formulas>
    <interviewLabel>Aether Refund Process New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aether Refund Process New</label>
    <loops>
        <name>Copy_1_of_LoopingSelected_Rows</name>
        <label>Copy 1 of LoopingSelected Rows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CLIDataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Initializing_Aether_Product_Support_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Creating_APSI_Records_for_repair_Scenario</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopingSelected_Rows</name>
        <label>LoopingSelected Rows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>CLIDataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initializing_Aether_Product_Support_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_APSI_Records_for_repair_Scenario</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Creating_APSI_Records_for_repair_Scenario</name>
        <label>Copy 1 of Creating APSI Records for repair Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <doesUpsertAllOrNone>true</doesUpsertAllOrNone>
        <inputReference>AetherProductSupportItemsForRepair</inputReference>
        <upsertStandardIdField>Name</upsertStandardIdField>
    </recordCreates>
    <recordCreates>
        <name>Creating_APSI_Records_for_repair_Scenario</name>
        <label>Creating APSI Records for repair Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <doesUpsertAllOrNone>true</doesUpsertAllOrNone>
        <inputReference>AetherProductSupportItemsForRepair</inputReference>
        <upsertStandardIdField>Name</upsertStandardIdField>
    </recordCreates>
    <recordCreates>
        <name>UpSell_Opportunity</name>
        <label>UpSell Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Send_Email_Action_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpptyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all contract line items of current Asset</description>
        <name>Get_CLIs</name>
        <label>Get CLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aether_RMA_Command_Center</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RootAssetFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentCase</name>
        <label>UpdateCurrentCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Aether_RMA_Command_Center</name>
        <label>Aether RMA Command Center</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectedCLIsTotalPrice</targetReference>
        </connector>
        <fields>
            <name>Banner</name>
            <fieldText>&lt;p&gt;🎯Results out&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CLIDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContractLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset Line Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_CLIs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContractLineItem&quot;,&quot;fieldReferences&quot;:[&quot;LineItemNumber&quot;],&quot;elementReference&quot;:&quot;Get_CLIs&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-5340&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Inspection_Status__c&quot;,&quot;guid&quot;:&quot;column-4dfa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:true,&quot;label&quot;:&quot;Inspection Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceContract__c&quot;,&quot;guid&quot;:&quot;column-559f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;ServiceContract&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;ServiceContract&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-54bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-ee5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-0ee2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;sortable&quot;:false,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-69a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContractLineItem&quot;,&quot;fieldReferences&quot;:[&quot;Product_Name__c&quot;,&quot;Inspection_Status__c&quot;,&quot;ServiceContract__c&quot;,&quot;Status&quot;,&quot;StartDate&quot;,&quot;EndDate&quot;,&quot;UnitPrice&quot;],&quot;elementReference&quot;:&quot;Get_CLIs&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RMA_Options</name>
            <choiceReferences>Repair</choiceReferences>
            <choiceReferences>Replacement</choiceReferences>
            <choiceReferences>Upsell</choiceReferences>
            <choiceReferences>Refund</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RMA Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RepairText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Repair:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Service Team Notes&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>RMA_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Repair</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReplacementText</name>
            <fieldText>&lt;p&gt;Replacement Proceed with Aether Product Support creation which facilitates Replacement&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>RMA_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Replacement</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UpsellText</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;em style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Contract Expired. Eligible for 20% Discount on New Model&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>RMA_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Upsell</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RefundScenario</name>
            <fieldText>&lt;p&gt;Enter Refund Reason Based on which Refund amount will be calculated on case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>RMA_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Refund</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Refund_Reason</name>
            <choiceReferences>Hazard</choiceReferences>
            <choiceReferences>Wear_Tear</choiceReferences>
            <choiceReferences>Critical</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Refund Reason</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>RMA_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Refund</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.CaseNumber</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>123456798</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RRRR</name>
            <choiceReferences>RRR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Refund Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RMA_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Refund</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CLIs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>SelectedCLIsTotalPrice</name>
        <label>SelectedCLIsTotalPrice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RMA_Process_Decision_Node</targetReference>
        </connector>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>CLIDataTable.selectedRows</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationFieldReference</name>
                    <value>
                        <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;ContractLineItem&quot;,&quot;fieldReferences&quot;:[&quot;UnitPrice&quot;],&quot;elementReference&quot;:&quot;CLIDataTable.selectedRows&quot;}</complexValue>
                        <complexValueType>FieldReference</complexValueType>
                    </value>
                </inputParameters>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AetherProductSupportItemsForRepair</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Aether_Support_Product__c</objectType>
    </variables>
    <variables>
        <name>APSINewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Aether_Support_Product__c</objectType>
    </variables>
    <variables>
        <name>CurrentAetherProductSupportItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Aether_Support_Product__c</objectType>
    </variables>
    <variables>
        <description>Current case record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RootCLIsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
</Flow>
